# Dépendances
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'environnement & Clés secrètes
.env
.env.local
.env.*.local

# Certificats SSL locaux
*.pem
*.crt
*.key
server/certs/

# Base de données SQLite locale
*.db
*.sqlite
*.sqlite3

# Compilations Electron & Builds
dist/
build/
out/
/*.exe
/*.zip

# Fichiers système & Éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/